span.ant-page-header-heading-title {
  font-size: 14pt;
}

.clickable-address {
  &:hover {
    cursor: pointer;
  }
}

.jetton-wallet-view {
  padding: 0 50px;
  width: 100%;

  &> .ant-page-header {
    padding: 16px 0;

    .my-account-badge {
      margin-left: 8px;
      font-size: 12pt;
      color: #888;
    }
  }

  .asset-name .symbol {
    display: none;
  }
}
