$primary-color: #1890ff;

.tonkeeper-connect-modal {
  width: 288px !important;

  .ant-modal-body {
    padding: 16px;

    ol {
      padding-left: 16px;
      margin-bottom: 16px;
    }

    .confirmation-status {
      width: 256px;
      height: 256px;
      font-size: 96px;
      line-height: 256px;
      text-align: center;

      .anticon {
        color: $primary-color !important;
        font-size: 96px;

        &.anticon-sync {
          animation-duration: 2s;
        }
      }
    }
  }
}
