@import './mixins/mixins.scss';

$background-color: #ffffff;

/* Layout */

section.ant-layout {
  background-color: $background-color;
}

main.compressed,
footer > div.compressed,
section.ant-layout > .ant-layout-header > div.ant-row {
  @include compressed-layout;
}

@media screen and (max-width: 410px) {
  .ant-layout-header .ant-menu-horizontal .ant-menu-item {
    .ant-tag {
      display: none;
    }
  }
}

@media screen and (max-width: 780px) {
  .ant-layout-header {
    padding: 0 16px !important;

    .navbar-logo {
      padding-right: 10px;

      .logo-text {
        display: none;
      }
    }

    .ant-menu-horizontal .ant-menu-item {
      padding: 0 10px !important;
    }

    .ant-col.links {
      display: none;
    }

    .wallet-button-section {
      &> button {
        width: 50px;

        & > span:last-of-type,
        .connect-wallet-text {
          display: none !important;
        }
      }
    }
  }

  .ant-layout-footer {
    padding: 24px !important;
  }

  .jetton-wallet-view {
    padding: 0 24px !important;

    .asset-name {
      .name {
        display: none;
      }
      .symbol {
        display: inline !important;
      }
    }

    .asset-balance .symbol {
      display: none;
    }
  }
}

section.main-layout {
  background-color: $background-color;
  min-height: 100%;
  height: 100%;
  padding-bottom: 120px;
  margin-bottom: -120px;
}

footer.ant-layout-footer {
  margin-top: 50px;
  background: #002457;
  color: #ffffff;

  .links-section {
    text-align: right;

    a {
      color: rgba(#ffffff, 0.75);
      &:hover {
        color: #ffffff;
      }

      & + a {
        margin-left: 12px;
      }
    }
  }
}
