body {
  min-width: 360px;
  overflow-x: hidden;

  display: flex;
  flex-direction:column;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overscroll-behavior-y: none;
}

#root {
  flex: 1;
}
