.search-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .search-logo {
    border: 3px #002457 solid;
    margin-bottom: 64px;
    border-radius: 50%;
    padding: 4px;

    img {
      max-width: 128px;
    }
  }

  .ant-input-search {
    width: 80%;
    max-width: 620px;
  }
}
